@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html,body{
    background-color: #F7F7F7;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fredoka One', cursive;
}


/******************** scrollbar ********************/

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    width: 5px;
}

/******************** navbar ********************/

#nav_bar{
    background-color: white;
    box-shadow: 0px 2px 10px 4px rgba(0,0,0,0.1);
}

#navbarNav li{  
    margin: 0 2px;
    width: 110px;
    transition: all .5s ease;
}


#navbarNav li:hover{
    border-radius: 10px;
    background-color: red;
}

#navbarNav li a{
    color: black;   
    transition: all .5s ease;
}

#navbarNav li a:hover{
    color: white;
    font-weight: bold;
}

#navbarNav .active{
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

#nav_img{
    position: relative;
    animation-name: nav_img;
    animation-duration: 2s;
    animation-timing-function: ease;   
}

#nav_a1{
    position: relative;
    animation-name: nav_a1;
    animation-duration: 2s;
    animation-timing-function: ease;   
}

#nav_a2{
    position: relative;
    animation-name: nav_a2;
    animation-duration: 2.5s;
    animation-timing-function: ease;   
}

#nav_a3{
    position: relative;
    animation-name: nav_a3;
    animation-duration: 3s;
    animation-timing-function: ease;   
}

#nav_a4{
    position: relative;
    animation-name: nav_a4;
    animation-duration: 3.5s;
    animation-timing-function: ease;   
}

#nav_a5{
    position: relative;
    animation-name: nav_a5;
    animation-duration: 4s;
    animation-timing-function: ease;   
}

@keyframes nav_img {
    0%{
        left: -100px;
        transform: rotate(180deg);
    }

    100%{
        left: 0;
        transform: rotate(0deg);
    }
}

@keyframes nav_a1 {
    0%{
        top: -150px;
    }

    100%{
        top: 0;
    }
}

@keyframes nav_a2 {
    0%{
        top: -150px;
    }

    100%{
        top: 0;
    }
}

@keyframes nav_a3 {
    0%{
        top: -150px;
    }

    100%{
        top: 0;
    }
}

@keyframes nav_a4 {
    0%{
        top: -150px;
    }

    100%{
        top: 0;
    }
}

@keyframes nav_a5 {
    0%{
        top: -150px;
    }

    100%{
        top: 0;
    }
}


/* banner */

#banner{
    background: url(assets/banner.jpg);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#banner a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 10px;
    transition: all .8s ease;
}
#banner a:hover{
    color: white;
    background-color: red;
}


/* form */

#contact a{
    text-decoration: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 15px 20px;
    margin: 0px 10px;
    font-size: 1.2rem;
    border-radius: 50%;
    transition: all .5s ease;
}

#contact a:hover{
    color: white;
    background-color: red;
    box-shadow: 2px 2px 2px rgba(255, 0, 0, 0.431);
    transform: translateY(-5px);
}


#con_form input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

#con_form a{
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
}


/* contact card */

#con_card div{
    height: 160px;
    background-color: rgb(245, 91, 91);
    position: relative;
    color: white;
    top: 50px;
    border-radius: 10px;
    z-index: 11;
    padding: 10px;
}




/* map */

iframe{
    filter: grayscale(100%);
    border-radius: 15px;
    transition: all .5s ease;
}

iframe:hover{
    filter: grayscale(0%);
}


/* subscribe */
#rec_up{
    color: red;
}

#sub_now{
    text-decoration: none;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 15px;
}


/* helper */

#helping_hand{
    background: url(assets/helping-hands-shape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#helping_hand .row{
    background-color: rgba(0, 0, 0, 0.2);
}

#hh_img1{
    animation-name: anime-5;
    animation-duration: 1.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime-5{
    0%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(20px);

    }   
}


#hh_img2 img{
    margin: 20px 10px;
    max-width: 350px;
    border-radius: 15px;
    transition: all .8s ease-in;
}

#helping_hand:hover #hh_img2 img{
    transform: scale(1.10);
}


/********************* footer ********************/

#footer{
    background: url(assets/footer.jpeg);
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
}

#footer .row{
    background-color: rgba(0, 0, 0, 0.8);
}

#footer .row h4{
    margin: 20px 10px;
    color: white;
}


#footer .link a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 8px;
    margin: 5px;
    transition: all .5s ease;
}

#footer .link a:hover{
    color: red;
    transform: scale(1.10);
}

#footer .f_contact a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    margin: 15px;
}







